<div class="container">

<form class="form" action="/ptp/edit/{{id}}" method="post">
<div class="pin"><div class="pin-head"></div></div>
  {{id}}
  <label for="name" class="form-item">
    Comment:</br>
    <input type="text" name="comment" value="{{comment}}">
  </label>
  <input type="submit" name="" value="Submit">
  </form>
</div>
