<form class="form" action="/ptp/edit/{{id}}" method="post">
  {{id}}
  <label for="name" class="form-item">
    Comment:
    <input type="text" name="name" value="{{comment}}">
  </label>
  <input type="submit" name="" value="Submit">
  </form>
  
