<div class="container">
<div class="wall">
  <div class="pin-board">
  {{#each postit}}
        <div class="postit">
        <div class="pin"></div>
      {{id}}
      {{comment}}
    </div>
  {{/each}}
</div>
</div>
</div>
